
.footer {
  background-color: #0d0707;
  color: #f7f4f4;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer h4 {
  font-size: 20px; /* Increased font size */
  font-weight: bold; /* Added font weight */
  margin-bottom: 15px; /* Increased margin */
  color: #fff; /* Set color to white */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Added letter spacing */
}

/* Centering everything under h4 tags */
.footer .col-md-4 {
  text-align: center;
}
/* Updated styles for NavLink */
.footer a {
  color: #fff;
  text-decoration: none;
  display: block; /* Ensure each NavLink is displayed on a new line */
}
